<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:insert="~{import :: head}"></head>
    <style>
        .tree li {
            list-style-type: none;
            cursor: pointer;
        }
    </style>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <div class="tree" th:insert="~{navigation :: menu}"></div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <ol class="breadcrumb">
                <li><a href="#">首页</a></li>
                <li><a href="#">数据列表</a></li>
                <li class="active">分配角色</li>
            </ol>
            <div class="panel panel-default">
                <div class="panel-body">
                    <form id="roleForm" role="form" class="form-inline">
                        <input type="hidden" name="userid" th:value="${user.id}">
                        <div class="form-group">
                            <label for="leftList">未分配角色列表</label><br>
                            <select id="leftList" name="unassignroleids" class="form-control" multiple size="10"
                                    style="width:200px;overflow-y:auto;" >
                                    <option th:each="role : ${unassignRoles}" th:value="${role.id}" th:text="${role.name}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <ul>
                                <li id="left2RightBtn" class="btn btn-default glyphicon glyphicon-chevron-right"></li>
                                <br>
                                <li id="right2LeftBtn" class="btn btn-default glyphicon glyphicon-chevron-left"
                                    style="margin-top:20px;"></li>
                            </ul>
                        </div>
                        <div class="form-group" style="margin-left:40px;">
                            <label for="rightList">已分配角色列表</label><br>
                            <select id="rightList" name="assignroleids" class="form-control" multiple size="10"
                                    style="width:200px;overflow-y:auto;">
                                    <option th:each="role : ${assingedRoles}" th:value="${role.id}" th:text="${role.name}"></option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:insert="~{import :: help}"></div>

<script type="text/javascript">
    $(function () {
        $(".list-group-item").click(function () {
            if ($(this).find("ul")) {
                $(this).toggleClass("tree-closed");
                if ($(this).hasClass("tree-closed")) {
                    $("ul", this).hide("fast");
                } else {
                    $("ul", this).show("fast");
                }
            }
        });

        $("#left2RightBtn").click(function () {
            var opts = $("#leftList :selected");
            if (opts.length == 0) {
                layer.msg("请选择需要分配的角色数据", {time: 2000, icon: 5, shift: 6}, function () {

                });
            } else {

                $.ajax({
                    type: "POST",
                    url: "/user/doAssign",
                    data: $("#roleForm").serialize(),
                    success: function (result) {
                        if (result.success) {
                            $("#rightList").append(opts);
                            layer.msg("分配角色数据成功", {time: 2000, icon: 6}, function () {
                            });
                        } else {
                            layer.msg("分配角色数据失败", {time: 2000, icon: 5, shift: 6}, function () {
                            });
                        }
                    }
                });
            }
        });
        $("#right2LeftBtn").click(function () {
            var opts = $("#rightList :selected");
            if (opts.length == 0) {
                layer.msg("请选择需要取消分配的角色数据", {time: 2000, icon: 5, shift: 6}, function () {

                });
            } else {
                $.ajax({
                    type: "POST",
                    url: "/user/dounAssign",
                    data: $("#roleForm").serialize(),
                    success: function (result) {
                        if (result.success) {
                            $("#leftList").append(opts);
                            layer.msg("取消分配角色数据成功", {time: 2000, icon: 6}, function () {
                            });
                        } else {
                            layer.msg("取消分配角色数据失败", {time: 2000, icon: 5, shift: 6}, function () {
                            });
                        }
                    }
                });

            }
        });
    });
</script>
</body>
</html>
