<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_HOME" value="./log"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} %X{traceId} %X{orderNo} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/logFile.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} %X{traceId} %X{orderNo} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--开发环境日志配置-->
    <springProfile name="dev">
        <logger name="com.lujiahao.canal.client" level="debug" addtivity="false">
            <appender-ref ref="STDOUT"/>
        </logger>

        <logger name="org.springframework" level="debug" additivity="false">
            <appender-ref ref="STDOUT" />
        </logger>
    </springProfile>

    <!--测试环境日志配置-->
    <springProfile name="test">
        <logger name="com.lujiahao.canal.client" level="debug" addtivity="false">
            <appender-ref ref="FILE"/>
        </logger>
    </springProfile>

    <springProfile name="pre">
        <logger name="com.lujiahao.canal.client" level="debug" addtivity="false">
            <appender-ref ref="FILE"/>
        </logger>
    </springProfile>

    <!--线上环境日志配置-->
    <springProfile name="online">
        <logger name="com.lujiahao.canal.client" level="info" addtivity="false">
            <appender-ref ref="FILE"/>
        </logger>
    </springProfile>
</configuration>