<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:insert="~{import :: head}"></head>
    <style>
        .tree li {
            list-style-type: none;
            cursor: pointer;
        }

        table tbody tr:nth-child(odd) {
            background: #F4F4F4;
        }

        table tbody td:nth-child(even) {
            color: #C00;
        }
    </style>
</head>

<body>

<div th:insert="~{navigation :: nav}"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <div class="tree" th:insert="~{navigation :: menu}"></div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="glyphicon glyphicon-th"></i> 数据列表</h3>
                </div>
                <input type="hidden" id="id" th:value="${param.id}">
                <div class="panel-body">
                    <button class="btn btn-success" onclick="doAssign()">分配许可</button>
                    <ul id="permissionTree" class="ztree"></ul>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        $(".list-group-item").click(function () {
            if ($(this).find("ul")) {
                $(this).toggleClass("tree-closed");
                if ($(this).hasClass("tree-closed")) {
                    $("ul", this).hide("fast");
                } else {
                    $("ul", this).show("fast");
                }
            }
        });

        var setting = {
            check: {
                enable: true
            },
            async: {
                enable: true,
                url: "/permission/loadAssignData?roleid=" + $("#id").val(),
                autoParam: ["id", "name=n", "level=lv"]
            },
            view: {
                selectedMulti: false,
                addDiyDom: function (treeId, treeNode) {
                    var icoObj = $("#" + treeNode.tId + "_ico"); // tId = permissionTree_1, $("#permissionTree_1_ico")
                    if (treeNode.icon) {
                        icoObj.removeClass("button ico_docu ico_open").addClass(treeNode.icon).css("background", "");
                    }

                }
            }
        };

        $.fn.zTree.init($("#permissionTree"), setting);
    });

    function doAssign() {
        var treeObj = $.fn.zTree.getZTreeObj("permissionTree");
        var nodes = treeObj.getCheckedNodes(true);
        if (nodes.length == 0) {
            layer.msg("请选择需要分配的许可信息", {time: 2000, icon: 5, shift: 6}, function () {

            });
        } else {
            var d = "roleid=" + $("#id").val();
            $.each(nodes, function (i, node) {
                d += "&permissionids=" + node.id
            });
            $.ajax({
                type: "POST",
                url: "/role/doAssign",
                data: d,
                success: function (result) {
                    if (result) {
                        layer.msg("分配许可信息成功", {time: 2000, icon: 6}, function () {

                        });
                    } else {
                        layer.msg("分配许可信息失败", {time: 2000, icon: 5, shift: 6}, function () {

                        });
                    }
                }
            });
        }
    }
</script>
</body>
</html>
