<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:insert="~{import :: head}"></head>
    <style>
        .tree li {
            list-style-type: none;
            cursor: pointer;
        }
    </style>
</head>
<body>

<div th:insert="~{navigation :: nav}"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <div class="tree" th:insert="~{navigation :: menu}"></div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <ol class="breadcrumb">
                <li><a href="#">首页</a></li>
                <li><a href="#">数据列表</a></li>
                <li class="active">修改</li>
            </ol>
            <div class="panel panel-default">
                <div class="panel-heading">表单数据
                    <div style="float:right;cursor:pointer;" data-toggle="modal" data-target="#myModal"><i
                            class="glyphicon glyphicon-question-sign"></i></div>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <input type="hidden" id="id" th:value="${param.id}">
                        <div class="form-group">
                            <label for="permissionname">许可名称</label>
                            <input type="text" class="form-control" th:value="${permission.name}" id="permissionname"
                                   placeholder="请输入许可名称">
                        </div>
                        <div class="form-group">
                            <label for="url">链接地址</label>
                            <input type="text" class="form-control" th:value="${permission.url}" id="url"
                                   placeholder="请输入链接地址">
                        </div>
                        <button id="updateBtn" type="button" class="btn btn-success"><i
                                class="glyphicon glyphicon-pencil"></i> 修改
                        </button>
                        <button type="button" class="btn btn-danger"><i class="glyphicon glyphicon-refresh"></i> 重置
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $(".list-group-item").click(function () {
            if ($(this).find("ul")) {
                $(this).toggleClass("tree-closed");
                if ($(this).hasClass("tree-closed")) {
                    $("ul", this).hide("fast");
                } else {
                    $("ul", this).show("fast");
                }
            }
        });

        $("#updateBtn").click(function () {
            var permissionname = $("#permissionname").val();
            if (permissionname == "") {
                layer.msg("许可名称不能为空，请输入", {time: 2000, icon: 5, shift: 6}, function () {

                });
                return;
            }

            var loadingIndex = null;
            $.ajax({
                type: "POST",
                url: "/permission/update",
                data: {
                    "name": permissionname,
                    "url": $("#url").val(),
                    "id": $("#id").val()
                },
                beforeSend: function () {
                    loadingIndex = layer.msg('处理中', {icon: 16});
                },
                success: function (result) {
                    layer.close(loadingIndex);
                    if (result.success) {
                        layer.msg("许可信息修改成功", {time: 1000, icon: 6}, function () {
                            window.location.href = "/permission/index";
                        });
                    } else {
                        layer.msg("许可信息修改失败，请重新操作", {time: 2000, icon: 5, shift: 6}, function () {

                        });
                    }
                }
            });
        });
    });
</script>
</body>
</html>
